<div class="container mt-3">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Admission No</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row"> {{ student.id }}</th>
        <td>{{ student.admNo }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>