<div class="container mt-3">
  <button routerLink = '/new/students' class="btn btn-primary">Add student</button>
</div>
<div class="container mt-3">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Admission No</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">View Result</th>
        <th scope="col">Add Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row"> {{ student.id }}</th>
        <td>{{ student.admNo }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>
          <a [routerLink]="['/students', student.id]" type="button" class="btn btn-primary">Analyze Results</a>
        </td>
        <td>
            <a  [routerLink]="['/students/new', student.id]" type="button" class="btn btn-primary">Add Result</a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
